In [2]:
#this url contains the data you need to scrape
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/datasets/Programming_Languages.html"

In [3]:
from bs4 import BeautifulSoup 
import requests
import pandas as pd

In [4]:
data  = requests.get(url).text

In [5]:
soup = BeautifulSoup(data,"html5lib")

In [7]:
table = pd.DataFrame(columns=["Language","Average Annual Salary"])

for row in soup.find_all('tr'):
    cols = row.find_all('td')
    language = cols[1].getText() 
    salary = cols[3].getText() 
    print("{}--->{}".format(language,salary))
    table = table.append({"Language": language, "Average Annual Salary": salary}, ignore_index=True)
    table.head()

Language--->Average Annual Salary
Python--->$114,383
Java--->$101,013
R--->$92,037
Javascript--->$110,981
Swift--->$130,801
C++--->$113,865
C#--->$88,726
PHP--->$84,727
SQL--->$84,793
Go--->$94,082

C:\Users\dtmbi\AppData\Local\Temp\ipykernel_26428\1105783713.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({"Language": language, "Average Annual Salary": salary}, ignore_index=True)
C:\Users\dtmbi\AppData\Local\Temp\ipykernel_26428\1105783713.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({"Language": language, "Average Annual Salary": salary}, ignore_index=True)
C:\Users\dtmbi\AppData\Local\Temp\ipykernel_26428\1105783713.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({"Language": language, "Average Annual Salary": salary}, ignore_index=True)
C:\Users\dtmbi\AppData\Local\Temp\ipykernel_26428\1105783713.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({"Language": language, "Average Annual Salary": salary}, ignore_index=True)
C:\Users\dtmbi\AppData\Local\Temp\ipykernel_26428\1105783713.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({"Language": language, "Average Annual Salary": salary}, ignore_index=True)
C:\Users\dtmbi\AppData\Local\Temp\ipykernel_26428\1105783713.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({"Language": language, "Average Annual Salary": salary}, ignore_index=True)
C:\Users\dtmbi\AppData\Local\Temp\ipykernel_26428\1105783713.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({"Language": language, "Average Annual Salary": salary}, ignore_index=True)
C:\Users\dtmbi\AppData\Local\Temp\ipykernel_26428\1105783713.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({"Language": language, "Average Annual Salary": salary}, ignore_index=True)
C:\Users\dtmbi\AppData\Local\Temp\ipykernel_26428\1105783713.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({"Language": language, "Average Annual Salary": salary}, ignore_index=True)
C:\Users\dtmbi\AppData\Local\Temp\ipykernel_26428\1105783713.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({"Language": language, "Average Annual Salary": salary}, ignore_index=True)
C:\Users\dtmbi\AppData\Local\Temp\ipykernel_26428\1105783713.py:8: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  table = table.append({"Language": language, "Average Annual Salary": salary}, ignore_index=True)

In [8]:
df=pd.DataFrame(table,columns=["Language","Average Annual Salary"])
df.drop(df.index[0], inplace=True)
df.to_csv('popular-languages.csv')
df

      Language Average Annual Salary
1       Python              $114,383
2         Java              $101,013
3            R               $92,037
4   Javascript              $110,981
5        Swift              $130,801
6          C++              $113,865
7           C#               $88,726
8          PHP               $84,727
9          SQL               $84,793
10          Go               $94,082